{% extends 'index.html' %}

{% block content %}
<h1>
    {% if user.groups.all %}
        {% for group in user.groups.all %}
            {% if group.name == 'Клиент' %}
                Клиент {{ user.first_name }}
            {% elif group.name == 'Сервисная компания' %}
                Сервисная компания {{ user.first_name }}
            {% elif group.name == 'Менеджер' %}
                Менеджер 
            {% endif %}
        {% endfor %}
    {% endif %}
</h1>
    {% load static %}
    <p>Информация о комплектации и технических характеристиках Вашей техники</p>
    <div class="tab-container">
        <button class="tab-button active" onclick="openTab(event, 'tab1')">Общая инфо</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')">ТО</button>
        <button class="tab-button" onclick="openTab(event, 'tab3')">Рекламация</button>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">

    
    <div id="tab1" class="tab tab-content" style="display: block;">
        <table class="table" id="machineTable">
            <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Модель техники</th>
                    <th>Зав.№ машины</th>
                    <th>Модель двигателя</th>
                    <th>Зав.№ двигателя</th>
                    <th>Модель трансмиссии (производитель, артикул)</th>
                    <th>Зав.№ трансмиссии</th>
                    <th>Модель ведущего моста</th>
                    <th>Зав.№ ведущего моста</th>
                    <th>Модель управляемого моста</th>
                    <th>Зав.№ управляемого моста</th>
                    <th>Дата отгузки с завода</th>
                    <th>Покупатель</th>
                    <th>Грузополучатель (конечный потребитель)</th>
                    <th>Адрем поставки (эксплуатации)</th>
                    <th>Комплектация (доп.опции)</th>
                    <th>Сервисная компания</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td> <!-- Автоматическая нумерация -->
                        <td>{{ machine.model }}</td>
                        <td>{{ machine.serial_number }}</td>
                        <td>{{ machine.engine_model }}</td>
                        <td>{{ machine.engine_serial_number }}</td>
                        <td>{{ machine.transmission_model }}</td>
                        <td>{{ machine.transmission_serial_number }}</td>
                        <td>{{ machine.axle_model }}</td>
                        <td>{{ machine.axle_serial_number }}</td>
                        <td>{{ machine.steering_axle_model }}</td>
                        <td>{{ machine.steering_axle_serial_number }}</td>
                        <td>{{ machine.shipment_date }}</td>
                        <td>{{ machine.client }}</td>
                        <td>{{ machine.recipient }}</td>
                        <td>{{ machine.delivery_address }}</td>
                        <td>{{ machine.configuration }}</td>
                        <td>{{ machine.service_company }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="tab2" class="tab tab-content">
        <table id="maintenanceTable" border="1">
            <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Зав.№ машины</th>
                    <th>Вид ТО</th>
                    <th>Дата проведения ТО</th>
                    <th>Наработка, м/час</th>
                    <th>№ заказ-наряда</th>
                    <th>Дата заказ-наряда</th>
                    <th>Организация, проводившая ТО</th>
                </tr>
            </thead>
            <tbody>
            {% for maintenance in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ maintenance.machine.name }}</td>
                <td>{{ maintenance.service_type.name }}</td>
                <td>{{ maintenance.maintenance_date }}</td>
                <td>{{ maintenance.operating_hours }}</td>
                <td>{{ maintenance.order_number }}</td>
                <td>{{ maintenance.order_date }}</td>
                <td>{{ maintenance.service_organization.name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Нет данных о техническом обслуживании.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="tab3" class="tab tab-content">
        <table id="claimTable" border="1">
            <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Зав.№ машины</th>
                    <th>Дата отказа</th>
                    <th>Наработка, м/час</th>
                    <th>Узел отказа</th>
                    <th>Описание отказа</th>
                    <th>Способ восстановления</th>
                    <th>Используемые запасные части</th>
                    <th>Дата восстановления</th>
                    <th>Время простоя техники</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in claims %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ claim.machine.name }}</td>
                    <td>{{ claim.rejection_date }}</td>
                    <td>{{ claim.operating_hours }}</td>
                    <td>{{ claim.failure_node.name }}</td>
                    <td>{{ claim.failure_description }}</td>
                    <td>{{ claim.recovery_method.name }}</td>
                    <td>{{ claim.used_spare_parts }}</td>
                    <td>{{ claim.recovery_date }}</td>
                    <td>{{ claim.downtime_duration }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10">Нет данных о заявках на отказ.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Подключение jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<!-- Подключение JavaScript DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script src="{% static 'js/home_auth.js' %}"></script>

{% endblock %}

