{% extends 'index.html' %}

{% block content %}

<h2>Регистрация</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить заявку</button>
    
    <script>
        var modal = document.getElementById("modal");
        var btn = document.getElementById("openModal");
        var span = document.getElementById("closeModal");
    
        btn.onclick = function() {
            modal.style.display = "block";
        }
    
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    
    </body>
{% endblock %}  